<div class="h_hamburger _pc-none" id="h_hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav class="h_fixed_menu _pc-none" id="h_fixed_menu">
  <ul class="ul_fixed_menu">
    <li class="menu_item">
      <a href="<%- !top ? '__BASE_URL__' : '' %>#works">Works</a>
    </li>
    <li class="menu_item">
      <a href="<%- !top ? '__BASE_URL__' : '' %>#skill">Skill</a>
    </li>
    <li class="menu_item">
      <a href="<%- !top ? '__BASE_URL__' : '' %>#about">About</a>
    </li>
  </ul>
</nav>
