@use './utils/mixin';

body {
  &.no-scroll {
    overflow: hidden;
  }
}

.first_greeting {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 1.4;
    text-align: center;
    @include mixin.sp {
      font-size: 8.53vw;
      line-height: 2.0;
    }
    .item {
      clip-path: inset(0 100% 0 0);
      
    }
  }
}

@keyframes leaf {
  0% {
    rotate: -3deg;
  }
  50% {
    rotate: 3deg;
  }
  100% {
    rotate: -3deg;
  }
}

@keyframes shine {
  0% {
    scale: 1;
  }
  50% {
    scale: .5;
  }
  100% {
    scale: 1;
  }
}

@keyframes sparkling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bird1 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 2.5vw;
  }
  100% {
    translate: 0 0;
  }

}

@keyframes bird1Right {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes bird1Left {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 10deg;
  }
  100% {
    rotate: 0deg;
  }
}


@keyframes bird2 {
  0% {
    top: 63vw;
    right: 0;
  }
  80% {
    top: 0;
    right: 80vw;
  }
  100% {
    top: 0;
    right: 80vw;
  }

}
@keyframes bird2_sp {
  0% {
    top: 90vw;
    right: 0;
  }
  80% {
    top: 0;
    right: 90vw;
  }
  100% {
    top: 0;
    right: 90vw;
  }

}

@keyframes bird2Right {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes bird2Left {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -15deg;
  }
  100% {
    rotate: 0deg;
  }
}


header {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  @include mixin.sp {
    height: auto;
  }
  &.sec_p {
    padding-top: 13.33vw;
    height: auto;
    @include mixin.sp {
      padding-top: 40vw;
      padding-bottom: 30vw;
    }
  }
  .ttl_h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: 7.886rem;
    line-height: 1.2;
    @include mixin.sp {
      font-size: 11.73vw;
    }
  }
  .text {
    line-height: 2.6666;
    font-size: 1.8rem;
    margin-top: 60px;
    @include mixin.sp {
      font-size: 4vw;
      margin-top: 11.73vw;
    }
  }
  .nav_top {
    margin-top: 60px;
      @include mixin.sp {
      margin-top: 16vw;
    }
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style-type: none;
        + li {
          margin-left: 60px;
          position: relative;
          @include mixin.sp {
            margin-left: 10.67vw;
          }
          &::before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #336633;
            position: absolute;
            top: 50%;
            left: -30px;
            translate: -50% -50%;
            @include mixin.sp {
              width: 2.67vw;
              height: 2.67vw;
              left: -5.33vw;
            }
          }
        }
        a {
          text-decoration: none;
          font-size: 4.148rem;
          font-family: "Dancing Script", cursive;
          color: #336633;
          padding: 10px 20px;
          line-height: 1.3;
          @include mixin.sp {
            font-size: 6.93vw;
            padding: 1.87vw 4vw;
          }
        }
      }
    }
  }
  .leaf {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    .leaf_main {
      width: 100vw;
      height: calc((938 / 2000) * 100vw);
      @include mixin.sp {
        height:  calc((718 / 980) * 100vw);
      }
    }
    .leaf_item {
      position: absolute;
      z-index: -10;
      animation: leaf 5s ease infinite;
      rotate: -3deg;
      &.leaf01 {
        left: 5vw;
        top: 10vw;
        width: 15vw;
        transform-origin: top left;
        animation-delay: -4s;
        @include mixin.sp {
          left: 3vw;
          top: 15vw;
          width: 25vw;
        }
      }
      &.leaf02 {
        left: 15vw;
        top: 5vw;
        width: 10vw;
        transform-origin: top right;
        animation-delay: -3s;
        @include mixin.sp {
          display: none;
        }
      }
      &.leaf03 {
        left: 32vw;
        top: -2vw;
        width: 15vw;
        transform-origin: top left;
        animation-delay: -2s;
        @include mixin.sp {
          left: 35vw;
          top: -2vw;
          width: 25vw;
        }
      }
      &.leaf04 {
        left: 60vw;
        top: 0vw;
        width: 15vw;
        transform-origin: top right;
        animation-delay: 0s;
        @include mixin.sp {
          left: 65vw;
          top: 10vw;
          width: 25vw;
        }
      }
      &.leaf05 {
        left: 73vw;
        top: 3vw;
        width: 12vw;
        transform-origin: top right;
        animation-delay: -3s;
        @include mixin.sp {
          display: none;
        }
      }
      &.leaf06 {
        left: 80vw;
        top: 4vw;
        width: 23vw;
        transform-origin: top right;
        animation-delay: -1s;
        @include mixin.sp {
          width: 23vw;
          left: 75vw;
          top: 30vw;
        }
      }
    }
    .shine_item {
      position: absolute;
      z-index: 10;
      animation: shine 15s ease infinite;
      &.shine01 {
        left: 5vw;
        top: 8vw;
        width: 10vw;
        animation-delay: -13s;
        @include mixin.sp {
          left: 2vw;
          top: 35vw;
          width: 15vw;
        }
      }
      &.shine02 {
        left: 10vw;
        top: 2vw;
        width: 12vw;
        animation-delay: -1s;
        @include mixin.sp {
          left: 5vw;
          top: 10vw;
          width: 15vw;
        }

      }
      &.shine03 {
        left: 50vw;
        top: -5vw;
        width: 13vw;
        animation-delay: -4s;
        @include mixin.sp {
          left: 30vw;
          top: 2vw;
          width: 13vw;
        }
      }
      &.shine04 {
        right: 10vw;
        top: 5vw;
        width: 10vw;
        animation-delay: -9s;
        @include mixin.sp {
          right: 23vw;
          top: 2vw;
          width: 12vw;
        }
      }
      &.shine05 {
        right: 3vw;
        top: 10vw;
        width: 13vw;
        animation-delay: -5s;
        @include mixin.sp {
          right: 3vw;
          top: 10vw;
          width: 13vw;
        }
      }
      &.shine06 {
        right: 1vw;
        top: -3vw;
        width: 10vw;
        animation-delay: -4s;
        @include mixin.sp {
          right: 1vw;
          top: 30vw;
          width: 12vw;
        }
      }
    }
    .sparkling {
      position: absolute;
      width: 100vw;
      top: 0;
      left: 0;
      animation: sparkling 3s ease infinite;
    }
  }
  .top_bird_01 {
    position: absolute;
    top: 20vw;
    left: 22vw;
    width: calc(172 / 1500 * 100vw);
    animation: bird1 3s infinite ease;
    z-index: -5;
    @include mixin.sp {
      top: 20vw;
      left: 27vw;
      width: 18vw;
    }
    .bird_body {
      width: 100%;
    }
    .wing_left {
      width: calc(119 / 148 * 100%);
      position: absolute;
      top: 31%;
      left: 36%;
      transform-origin: bottom left;
      animation: bird1Left 1s infinite linear;
      z-index: 10;
    }
    .wing_right {
      width: calc(51 / 148 * 100%);
      position: absolute;
      bottom: 25%;
      left: 33%;
      transform-origin: bottom right;
      animation: bird1Right 1s infinite linear;
      z-index: -10;
    }

  }
  .top_bird_02 {
    position: absolute;
    width: calc(107 / 1500 * 100vw);
    animation: bird2 15s linear infinite;
    translate: 200% -200%;
    z-index: -50;
    @include mixin.sp {
      animation: bird2_sp 10s infinite linear;
    }
    @include mixin.sp {
      width: 13vw;
    }
    .bird_body {
      width: 100%;
    }
    .wing_left {
      width: calc(45 / 107 * 100%);
      position: absolute;
      top: 35%;
      left: 23%;
      transform-origin: top center;
      animation: bird2Left 1s infinite linear;
      z-index: 10;
    }
    .wing_right {
      width: calc(39 / 107 * 100%);
      position: absolute;
      bottom: 55%;
      left: 26%;
      transform-origin: bottom center;
      animation: bird2Right 1s infinite linear;
      z-index: -10;
    }
  }
}

.sec_ttl {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 7.853rem;
  line-height: 1.1;
  color: #336633;
  text-align: center;
  margin-bottom: 55px;
  @include mixin.sp {
    font-size: 4.5rem;
    margin-bottom: 40px;
  }
}

@keyframes loop-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

section.works {
  background: url(__BASE_URL__assets/images/index/works_bg.jpg) center center / cover;
  overflow: hidden;
  .box_worksList {
    .ttl_worksList {
      text-align: center;
      margin-bottom: 50px;
      @include mixin.sp {
        margin-bottom: 30px;
      }
      .text_ttl {
        display: inline-block;
        color: #363;
        font-size: 3.5rem;
        font-weight: 500;
        padding: 0 70px;
        position: relative;
        @include mixin.sp {
          font-size: 2.5rem;
          padding: 0 40px;
        }
        &::before, &::after {
          content: '';
          display: block;
          width: 50px;
          height: 2px;
          background-color: #363;
          position: absolute;
          top: 50%;
          left: 0;
          translate: 0 -50%;
          @include mixin.sp {
            width: 30px;
            height: 1px;
          }
        }
        &::after {
          right: 0;
          left: auto;
        }
      }
    }
  }
  .ul_works {
    perspective: 1000px;
    transform-style: preserve-3d;
    > li {
      list-style-type: none;
      opacity: 0;
       + li {
        margin-top: 50px;
        @include mixin.sp {
          margin-top: 30px;
        }
       }
      > a {
        display: flex;
        border: 2px solid #336633;
        text-decoration: none;
        color: #333;
        transition: all .3s ease;
        @include mixin.sp {
          display: block;
        }
        .thumbnail_box {
          display: flex;
          align-items: center;
          background-color: #f8fbe6;
          .thumbnail {
            width: 274px;
            height: 189px;
            object-fit: cover;
            object-position: top;
            @include mixin.sp {
              width: 100%;
              height: 64.1vw;
            }
          }
        }
        .info {
          border-left: 2px solid #336633;
          flex: 1;
          display: flex;
          flex-direction: column;
          @include mixin.sp {
            border-left: none;
            border-top: 2px solid #336633;
          }
          .text_area {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include mixin.sp {
              padding: 15px;
            }
          }
          .name_wrap {
            display: flex;
            border-bottom: 2px solid #336633;
            min-height: 92px;
            @include mixin.sp {
              min-height: 50px;
            }
            .name {
              width: 70%;
              font-size: 2.4rem;
              font-weight: 600;
              @include mixin.sp {
                font-size: 1.6rem;
              }
            }
            .type {
              border-left: 2px solid #336633;
              flex: 1;
              font-size: 2.0rem;
              @include mixin.sp {
                font-size: 1.3rem;
              }
            }
          }
          .tech_stack {
            font-size: 2.4rem;
            flex: 1;
            @include mixin.sp {
              font-size: 1.4rem;
            }
          }
        }
        &:hover {
          scale: .95;
        }
      }
    }
  }
  .con_en_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    .en_box {
      margin: 100px 0;
      display: flex;
      animation: loop-text 20s linear infinite;
      @include mixin.sp {
        margin: 50px 0;
      }
      .en_img {
        width: 337vw;
        max-width: none;
        display: block;
        margin-right: 5.33vw;
        @include mixin.sp {
          width: 600vw;
        }
      }
    }
  }
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(-360deg); }
}

section.skill {
  position: relative;
  padding-bottom: 38.33vw;
  overflow: hidden;
  @include mixin.sp {
    padding-bottom: 68.33vw;
  }
  &::after {
    content: '';
    display: block;
    width: 100vw;
    height: calc( 180 / 1497 * 100vw);
    background: url(__BASE_URL__assets/images/index/skill_bg.png) no-repeat center bottom/ cover;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .ul_skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
    transform-style: preserve-3d;      
    @include mixin.sp {
      display: block;
    }
    > li {
      width: 48.5%;
      border: 2px solid #336633;
      padding: 22px 28px;
      display: flex;
      align-items: center;
      opacity: 0;
      @include mixin.sp {
        width: 100%;
        padding: 15px 20px;
      }
      @include mixin.pc {
        &:nth-child(n+3) {
          margin-top: 25px;
        }
      }
      @include mixin.sp {
        &:nth-child(n+2) {
          margin-top: 20px;
        }
      }
      .icon {
        width: 23%;
        margin-right: 20px;
        @include mixin.sp {
          margin-right: 15px;
        }
      }
      .text_wrap {
        flex: 1;
        .name {
          font-size: 2.725rem;
          font-weight: 600;
          margin-bottom: 8px;
          line-height: 1.2;
          @include mixin.sp {
            font-size: 2.0rem;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .deco_en {
    position: absolute;
    width: 41.3333vw;
    right: -10vw;
    bottom: -5.33vw;
    animation: 10s linear infinite rotation;
    z-index: -10;
    @include mixin.sp {
      width: 80vw;
      right: -25vw;
      bottom: -20vw;
    }
  }
}

section.about {
  background-color: #fdfcd8;
  margin-top: -1px;
  .box_about {
    display: flex;
    align-items: center;
    @include mixin.sp {
      flex-direction: column;
    }
    .photo {
      width: 316px;
      margin-right: 50px;
      @include mixin.sp {
        width: 70%;
        margin-right: 0;
        max-width: 316px;
        margin-bottom: 40px;
      }
    }
    .text {
      .item_text {
        & + .item_text {
          margin-top: 40px;
          @include mixin.sp {
            margin-top: 25px;
          }
        }
      }
    }
  }
}